.shadow-bg {
box-shadow: 200px -198px 110px -55px rgba(0,0,0,9) inset;
-webkit-box-shadow: 200px -298px 110px -55px rgba(0,0,0,9) inset;
-moz-box-shadow: 500px -198px 110px -95px rgba(0,0,0,1) inset;
}